[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Catfish
Comment=File search
Comment[de]=Dateisuche
Comment[es]=Buscador de archivos
Comment[fi]=Etsi tiedostoja
Comment[fr]=Recherche de fichiers
Categories=GTK;Utility;Filesystem;
Exec=catfish
Icon=catfish
Terminal=false
StartupNotify=true
